#root {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
}

/* Wrapper starts */
.wrapper {
  height: 85vh;
  width: 40%;
  border: 2px solid lightgray;
  padding: 1.5rem;
  overflow-y: scroll;
}

.wrapper>form {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.event-list-wrapper {
  flex-grow: 1;
}

hr {
  border-top: 0;
  border-bottom: 1px solid #afb8bf;
  outline: 0;
}

/* Wrapper ends */

/* Form Wrapper starts */
.form__wrapper {
  margin-bottom: 1rem;
}

.form__wrapper--heading {
  margin-bottom: 1.5rem;
}

/* Form Wrapper ends */

/* Form element starts */
.form-element {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.form-element > div:nth-child(2) {
  width: 70%;
}

.form-element:not(:last-child) {
  margin-bottom: 1rem;
}

.form-element input,
.form-element textarea {
  padding: 8px;
  border: 2px solid lightgray;
  border-radius: 4px;
}

.input-container {
  flex-basis: 70%;
}

.input-container>input,
.input-container>textarea {
  width: 90%;
}

.form-element label {
  font-size: 15px;
  font-weight: 600;
}

input:focus-visible {
  outline: 0;
}

.error-message {
  margin-top: 7px;
  font-size: 12px;
  color: red;
}

/* Events starts */

.form-events {
  height: 520px;
  overflow: hidden;
  overflow-y: scroll;
}

.form-event {
  padding-bottom: 2rem;
  padding-top: 2rem;
}

.form-event:not(:last-child) {
  border-bottom: 1px solid lightgrey;
}

.form-event:first-child {
  padding-top: 0 !important;
}

textarea::placeholder {
  font-family: sans-serif;
}

.add-btn {
  height: 35px;
  width: 35px;
  border: 0;
  border-radius: 2px;
  background: #6658f5;
  color: white;
  font-size: 18px;
  margin-top: 1.5rem;
  cursor: pointer;
}

.btn-container {
  display: flex;
  justify-content: flex-end;
  padding-bottom: 1rem;
}

.btn-container>button {
  width: 75px;
  margin-top: 0;
  font-size: 12px;
}

/* Events ends */

/* List */

.event-item {
  margin-bottom: 2rem;
  padding-bottom: 2rem;

}

.event-item:not(:last-child) {
  border-bottom: 1px solid lightgray;
}

@media (max-width: 780px) {
  .wrapper {
    width: 70%;
  }
}